:root {
  font-family: "katarine-web", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #333333;
}

.bold {
  font-weight: 600;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "katarine-web", system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  font-size: 20px;
}

body {
  margin: 0px;
}

a {
  color: white;
  text-decoration: inherit;
}
