/* Container for all central content */
.portfolio-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 40px 0px;
};

.portfolio-title {
  background-color: black;
}